
img{
  width: 100%;
  height: auto;
  display: block;
}
*:focus {
  outline: none !important;
}
::-moz-selection {
  background: $red;
}
::selection {
  background: $red;
}

body,
html{
  font-family: 'Gentium Basic', serif !important;
  font-weight: 400;
  background: $mainBG !important;
  color: $white !important;

  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: $mainBG; 
  }
  ::-webkit-scrollbar-thumb {
    background: $red;
    border-radius: 30px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: $white; 
  }
}

header{
  background: $headerBG;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
  overflow: hidden;
  transition: max-height .3s ease-in-out;

  &.active{
    max-height: 76px;
  }

  &.hide{
    max-height: 0px;
  }

  .mainNav{
    width: 95%;
    height: 100%;
    margin: auto;

    ul{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none; 
      padding-left: 0px;
      margin-bottom: 0px;

      li{
        font-size: 21px;

        &.logo{
          margin: 20px 35px 20px 0px;
          max-width: 340px;
          min-width: 340px;
        }

        a{
          transition: color .3s ease-in-out;
          color: $white;
          font-weight: 700;
          &:hover{
            text-decoration: none;
          }
        }

        &:hover{
          a{
            transition: color .3s ease-in-out;
            color: $red;
          }
        }

        &.active{
          a{
            color: $red;
          }
        }
      }
    }
  }

  .mobile-head{
    .hamburger-menu{
      .hamburger{
        width: 50px;
        height: 45px;
        margin-top: 2px;
        float: right;
        position: relative;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;
        z-index: 999999999;

        span{
          display: block;
          position: absolute;
          height: 4px;
          width: 100%;
          background: #fff;
          border-radius: 9px;
          opacity: 1;
          left: 0;
          transform: rotate(0deg);
          transition: .25s ease-in-out;
          &:nth-child(1) {
            top: 0px;
          }
          &:nth-child(2),
          &:nth-child(3){
            top: 15px;
          }
          &:nth-child(4) {
            top: 31px;
          }
        }
        &.open{
          span{
            &:nth-child(1) {
              top: 18px;
              width: 0%;
              left: 50%;
            }
            &:nth-child(2) {
              transform: rotate(45deg);
            }
            &:nth-child(3) {
              transform: rotate(-45deg);
            }
            &:nth-child(4) {
              top: 18px;
              width: 0%;
              left: 50%;
            }
          }
        }
      }
    }
  }
}

a{
  color: $red;
  &:hover{
    color: $white;
  }
}

.title-line-wrapper{
  width: 100%;
  position: relative;

  .inner{
    position: relative;
    z-index: 2;
    background: $mainBG;
    padding: 0 15px;
    margin: 0 auto 30px;
    width: max-content;
    margin: 0 auto 30px;
  }

  &::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 26px;
    width: 100%;
    height: 2px;
    background: $gray; 
    z-index: 1;
  }
}

.Contact{
  margin-top: 100px;
  margin-bottom: 125px;
  .title-line-wrapper{
    margin-bottom: 65px;
    .inner{
      h5{
        font-size: 50px;
        margin-bottom: 0px;
        letter-spacing: 2px;
      }
      p{
        margin-bottom: 0px;
        font-size: 21px;
        letter-spacing: 1px;
      }
    }
    &::before{
      bottom: 44px;
    }
  }
  .title{
    margin-top: 50px;
    font-weight: 900;
  }
  .title,
  .content{
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 25px;
    a{
      transition: color .3s ease-in-out;
      color: $red;
      font-weight: 700;
      &:hover{
        text-decoration: none;
        color: $white;
      }
    }
  }
}

.Socials{
  margin-bottom: 50px;
  .title-line-wrapper{
    &::before{
      bottom: 55px;
    }
  }

  .inner{
    h6{
      font-size: 50px;
      margin-bottom: 0px;
      letter-spacing: 2px;
    }
  }

  .socials-inner{
    text-align: center;
    a{
      text-decoration: none !important;
      transition: color .3s ease-in-out;
      color: $red;
      i{
        font-size: 40px;
        margin: 0 20px;
      }
      &:hover{
        text-decoration: none;
        color: $white;
      }
    }
  }
}

.copy{
  width: 100%;
  background: #000;
  padding: 10px 0;
  .copy-inner{
    text-align: center;
    color: #fff;
    span{
      font-size: 20px;
      a{
        transition: color .3s ease-in-out;
        color: $red;
        font-weight: 700;
          &:hover{
            text-decoration: none;
            color: $white;
          }
      }
    }
  }
}