@import "../_variables.scss";

.errorWrapper{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  .background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
    img{
      opacity: 0.4;
    }
  }
  .content{
    z-index: 1;
    .inner{
      width: 420px;
      margin: auto;
      text-align: justify;
      font-size: 20px;
      letter-spacing: 2px;
      h1{
        font-size: 45px;
        letter-spacing: 2px;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 1370px){
  .errorWrapper{
    .background{
      min-height: 100vh;
      img{
        width: auto;
        height: 100vh;
        margin-left: -220px;
        object-fit: cover;
      }
    }
  }
}

@media only screen and (max-width: 991px){
  .errorWrapper{
    .background{
      img{
        margin-left: -580px;
      }
    }
  }
}

@media only screen and (max-width: 450px){
  .errorWrapper{
    .background{
      img{
        margin-left: -400px;
      }
    }
    .content{
      .inner{
        width: 85%;
        font-size: 17px;
        h1{
          font-size: 35px;
        }
      }
    }
  }
}

@media only screen and (max-width: 320px){
  .errorWrapper{
    .background{
      img{
        margin-left: -325px;
      }
    }
    .content{
      .inner{
        text-align: center;
      }
    }
  }
}

@media only screen and (max-height: 420px){
  .errorWrapper{
    .background{
      img{
        height: auto;
      }
    }
  }
}